* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.canvas__wrapper {
  position: relative;
  display: inline-block;
}
.canvas__top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.canvas__player1,
.canvas__player2 {
  height: 50px;
  border-radius: 15px;
  flex: 1 1 auto;
  border: 5px solid;
  display: flex;
}
.canvas__player1 span,
.canvas__player2 span {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.canvas__player1 {
  border-color: #cd2038;
  justify-content: flex-end;
}
.canvas__player1 span {
  background-color: #cd2038;
}
.canvas__player2 {
  border-color: #333892;
}
.canvas__player2 span {
  background-color: #333892;
}
.canvas__timer {
  background-color: #5d533e;
  height: 100px;
  width: 100px;
  border-radius: 15px;
  font-family: 'Jacquard 12', system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: #b8a57f;
  font-weight: 500;
}
.canvas__timer span {
  margin: 0 0 1rem 0;
  filter: blur(0.5px);
}
.canvas__gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7rem;
  color: #fff;
  font-family: 'Jacquard 12', system-ui;
  font-weight: 900;
  display: none;
  white-space: nowrap;
}
