* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.canvas__wrapper {
  position: relative;
  display: inline-block;
}
.canvas__top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.canvas__player1,
.canvas__player2 {
  height: 50px;
  border-radius: 15px;
  flex: 1 1 auto;
  border: 5px solid;
  display: flex;
}
.canvas__player1 span,
.canvas__player2 span {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.canvas__player1 {
  border-color: yellow;
  justify-content: flex-end;
}
.canvas__player1 span {
  background-color: yellow;
}
.canvas__player2 {
  border-color: green;
}
.canvas__player2 span {
  background-color: green;
}
.canvas__timer {
  background-color: red;
  height: 100px;
  width: 100px;
  border-radius: 15px;
  border: 5px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #fff;
  font-family: sans-serif;
  font-weight: 900;
}
.canvas__gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  color: #fff;
  font-family: sans-serif;
  font-weight: 900;
  display: none;
}
